# 2 Types, Functions and Flow Control

## Data types

In [9]:
x_int = 3
x_float = 3.
x_string = 'three'
x_list = [3, 'three']

In [ ]:
type(x_float)

In [ ]:
type(x_string)

In [ ]:
type(x_list)

### Numbers

In [ ]:
abs(-1)

In [1]:
import math

math.floor(4.5)

4

In [3]:
math.exp(1)

2.718281828459045

In [4]:
math.log(1)

0.0

In [5]:
math.log10(10)

1.0

In [6]:
math.sqrt(9)

3.0

In [7]:
round(4.54, 1)

4.5

Remember you can always look at the documentation of any function with `?`

In [ ]:
round?

### Lists

Lists are ordered collections of objects of any kind.

In [10]:
x_list

[3, 'three']

We can retrieve elements of a list by indexing into the object with `[]`. In Python we count the elements of a collection from $0$ to $n-1$ (being $n$ the total number of elements). In order to retrieve an element, we can start counting from the beginning of the list, simply introducing the corresponding index, or from the end of the list with negative indexes.

In [14]:
x_list[0], x_list[-2]

(3, 3)

In [15]:
x_list[1], x_list[-1]

('three', 'three')

In [16]:
x_list.append('III')
x_list

[3, 'three', 'III']

In [26]:
x_list.append(['III', 2, 'hi'])
x_list

[3, 'three', 'III', ['III', 2, 'hi']]

In [27]:
del x_list[-1]
x_list

[3, 'three', 'III']

In [28]:
y_list = ['john', '2.', '1']

y_list + x_list

['john', '2.', '1', 3, 'three', 'III']

In [29]:
x_list*3

[3, 'three', 'III', 3, 'three', 'III', 3, 'three', 'III']

In [30]:
z_list=[4, 78, 3]
max(z_list)

78

In [31]:
min(z_list)

3

In [32]:
sum(z_list)

85

In [36]:
z_list.count(3)

1

In [37]:
z_list.append(4)
z_list.count(4)

2

In [38]:
z_list.sort()
z_list

[3, 4, 4, 78]

In [39]:
z_list.reverse()
z_list

[78, 4, 4, 3]

#### Slicing

Taking a slice of the form `[i:j]`, the convention is that we take elements from `i` (included) up to `j` (excluded).

In [40]:
w_list = [0, 1, 2, 3, 4]

In [41]:
print(w_list[0])
print(w_list[1:4])
print(w_list[1:])
print(w_list[:3])
print(w_list[:-2])

0
[1, 2, 3]
[1, 2, 3, 4]
[0, 1, 2]
[0, 1, 2]

### Strings

In [42]:
string = 'Hello World!'
string2 = "This is also allowed, helps if you want 'this' in a string and vice versa"
len(string)

12

In [43]:
print(string)
print(string[0])
print(string[2:5])
print(string[2:])
print(string[:5])
print(string * 2)
print(string + 'TEST')
print(string[-1])

Hello World!
H
llo
llo World!
Hello
Hello World!Hello World!
Hello World!TEST
!

In [44]:
print(string/2)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [45]:
print(string - 'TEST')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

Python offers some string functionalities:

In [49]:
x = 'test'

In [50]:
x.capitalize()

'Test'

Enviromnents like Jupyter, Spyder, VSCode, etc. allow you to explore the methods like `.capitalize()` or `.upper()` using `x.` and pressing `tab`.

In [51]:
x.find('e')

1

In [61]:
string.find("w")

-1

In [55]:
x.find?

Docstring:
S.find(sub[, start[, end]]) -> int

Return the lowest index in S where substring sub is found,
such that sub is contained within S[start:end].  Optional
arguments start and end are interpreted as in slice notation.

Return -1 on failure.
Type:      builtin_function_or_method

In [56]:
x = 'TEST'
x.lower()

'test'

In [57]:
x.capitalize()

'Test'

#### Formating

You can also format strings, e.g. to display rounded numbers

In [58]:
print('Pi is {:06.2f}'.format(3.14159))
print('Space can be filled using {:_>10}'.format(x))

Pi is 003.14
Space can be filled using ______TEST

With python 3.6 this became even more readable

In [60]:
print(f'{x} 1 2 3')

TEST 1 2 3

### Tuples

Tuples are immutable and can be thought of as read-only lists.

In [62]:
y_tuple = ('john', '2.', '1')
type(y_tuple)

tuple

In [63]:
y_list

['john', '2.', '1']

In [64]:
y_list[0] = 'Erik'
y_list

['Erik', '2.', '1']

In [65]:
y_tuple[0] = 'Erik'

TypeError: 'tuple' object does not support item assignment

### Dictionaries

Dictonaries are lists with named entries. There is also named tuples, which are immutable dictonaries. Use `OrderedDict` from `collections` if you need to preserve the order.

In [66]:
x_list[0]

3

In [67]:
tinydict = {'name': 'John', 'code': 6734, 'dept': 'sales'}
type(tinydict)

dict

In [68]:
print(tinydict)
print(tinydict.keys())
print(tinydict.values())

{'name': 'John', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['John', 6734, 'sales'])

In [70]:
tinydict.keys?

Docstring: D.keys() -> a set-like object providing a view on D's keys
Type:      builtin_function_or_method

In [71]:
tinydict['name']

'John'

In [72]:
tinydict['code']

6734

In [73]:
tinydict['surname']

KeyError: 'surname'

In [74]:
tinydict['dept'] = 'R&D'       # Update existing entry
tinydict['surname'] = 'Sloan'  # Add new entry
print(tinydict)

{'name': 'John', 'code': 6734, 'dept': 'R&D', 'surname': 'Sloan'}

In [75]:
del tinydict['code']  # Remove entry with key 'code'

In [76]:
tinydict['code']

KeyError: 'code'

In [77]:
tinydict.clear()
print(tinydict)
del tinydict

{}

When duplicate keys encountered during assignment, the last assignment wins

In [78]:
pepito = {'Name': 'Sara', 'Age': 7, 'Name': 'Manni'}
pepito

{'Name': 'Manni', 'Age': 7}

Finding the total number of items in the dictionary:

In [80]:
len(pepito)

2

Produces a printable string representation of a dictionary:

In [82]:
str(pepito)

"{'Name': 'Manni', 'Age': 7}"

## Sets

Unordered containers without repeating items.

In [83]:
my_set = set([1, 2])
my_set

{1, 2}

In [84]:
my_set.add(4)
my_set

{1, 2, 4}

In [85]:
my_set.add(4)
my_set

{1, 2, 4}

In [86]:
my_set.update(['hi', 3.5])
my_set

{1, 2, 3.5, 4, 'hi'}

In [87]:
my_set + 5

TypeError: unsupported operand type(s) for +: 'set' and 'int'

In [88]:
other_set = {3, 4, 5}

In [89]:
my_set - other_set

{1, 2, 3.5, 'hi'}

In [90]:
other_set.difference(my_set)

{3, 5}

In [91]:
my_set.intersection(other_set)

{4}

In [92]:
my_set.discard('hi')
my_set

{1, 2, 3.5, 4}

In [93]:
my_set.discard('hello')

## Functions

In [94]:
def mean(mylist):
    "Calculate the mean of the elements in mylist."
    number_of_items = len(mylist)
    sum_of_items = sum(mylist)
    return sum_of_items / number_of_items

In [95]:
type(mean)

function

In [96]:
z_list

[78, 4, 4, 3]

In [97]:
mean(z_list)

22.25

In [98]:
help(mean)

Help on function mean in module __main__:

mean(mylist)
    Calculate the mean of the elements in mylist.

In [99]:
mean?

Signature: mean(mylist)
Docstring: Calculate the mean of the elements in mylist.
File:      c:\asus webstorage\martaperxes@gmail.com\mysyncfolder\mmres\bist-master-python-bootcamp\<ipython-input-94-154e0c523c48>
Type:      function

In [100]:
mean??

Signature: mean(mylist)
Source:
def mean(mylist):
    "Calculate the mean of the elements in mylist."
    number_of_items = len(mylist)
    sum_of_items = sum(mylist)
    return sum_of_items / number_of_items
File:      c:\asus webstorage\martaperxes@gmail.com\mysyncfolder\mmres\bist-master-python-bootcamp\<ipython-input-94-154e0c523c48>
Type:      function

## Flow Control

In general, statements are executed sequentially: the first statement in a function is executed first, followed by the second, and so on. We often encounter situations in which we need to execute a block of code several number of times or change the operations based on some conditions. In Python a block is delimitted by an intendation (4 spaces), i.e. all lines starting at the same space are one block.

Programming languages provide various control structures that allow for more complicated execution paths.

### `while` Loop
Repeats a statement or group of statements while a given condition is `True`. The condition is tested before executing the loop body every time.

In [101]:
count = 0
while (count < 9):
    print('The count is: ' + str(count))
    count += 1

print('Good bye!')

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Good bye!

A loop becomes infinite loop whenever the condition never becomes `False`. Hence, we need to be careful when using while loops provided that they may never end, as we saw in the previous notebook. These are called infinite loops.

An infinite loop might be useful in client/server programming where the server needs to run continuously so that client programs can communicate with it when required.

### `for` Loop
Executes a sequence of statements multiple times and abbreviates the code that manages the loop variable.

In [102]:
fruits = ['banana', 'apple',  'mango']
for fruit in fruits:        # Second Example
    print('Current fruit:', fruit)

Current fruit: banana
Current fruit: apple
Current fruit: mango

Sometimes one also needs the index of the element, e.g. to plot a subset of data on different subplots. Then `enumerate` provides an elegant ("pythonic") way:

In [103]:
for index, fruit in enumerate(fruits):
    print(f'Fruit number {index}:', fruit)

Fruit number 0: banana
Fruit number 1: apple
Fruit number 2: mango

In principle one could also iterate over an index going from 0 to the number of elements:

In [104]:
for index in range(len(fruits)):
    print('Current fruit:', fruits[index])

Current fruit: banana
Current fruit: apple
Current fruit: mango

`for` loops can be elegantly integrated into a list comprehension

In [105]:
our_list = []
for n in range(5):
    our_list.append(n)
our_list

[0, 1, 2, 3, 4]

In [106]:
[10*n for n in range(5)]

[0, 10, 20, 30, 40]

In [107]:
print("It was true") if 2 < 3 else print("It was false")

It was true

In [108]:
fruits_with_b = [fruit for fruit in fruits if fruit.startswith('b')]
fruits_with_b

['banana']

This is equivalent to the following loop:

In [109]:
fruits_with_b = []
for fruit in fruits:
    if fruit.startswith('b'):
        fruits_with_b.append(fruit)
fruits_with_b

['banana']

### Nested Loops

Nested loops are loops within other loops, regardless of the type. For example, we can have nested for and while loops.

In [110]:
for x in range(1, 3):
    for y in range(1, 4):
        print(f'{x} * {y} = {x*y}')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6

### `if`

As we saw in the previous notebook, the if statement evaluates the code subject to the fulfillment of a given condition (generally created with a logical operator such as `==`, `<`, `>`, `=<`, `=>`, `not`, `is`, `in`, etc.). We can introduce an optional `else` statement to execute an alternative block of code whenever the condition is not met.

In [111]:
attendants = ['Mark', 'Jack', 'Mary']
student = 'Mark'

if student in attendants:
    print('present!')
else:
    print('absent!')

present!

We can also use one or more `elif` statements to check multiple conditions and execute a block of code as soon as one of the conditions is `True`.

In [112]:
attendants_A = ['Mark', 'Jack', 'Mary']
attendants_B = ['Tom', 'Dick', 'Harry']
student = 'Tom'

if student in attendants_A:
    print('present in list A!')
elif student in attendants_B:
    print('present in list B!')
else:
    print('absent!')

present in list B!

We can also use nested `if` statements.

### `break`

`break` terminates the current loop and resumes execution at the next statement. The `break` statement can be used in both `while` and `for` loops. In nested loops, the `break` statement only stops the execution of the **innermost loop**.

In [113]:
var = 10
while var > 0:              
    print('Current variable value: ' + str(var))
    var -= 1
    if var == 5:
        break

print('Good bye!')

Current variable value: 10
Current variable value: 9
Current variable value: 8
Current variable value: 7
Current variable value: 6
Good bye!

### `continue`

The `continue` statement rejects all the remaining statements in the current iteration of the loop and moves the control back to the top of the loop (like a "skip"). It can be used in both `while` and `for` loops.

In [ ]:
for letter in 'Python':
    if letter == 'h':
        continue
    print('Current Letter: ' + letter)

### `pass`

The `pass` statement is a null operation: nothing happens when it executes. `pass` is also useful in places where the code will eventually go but has not been written yet.

In [114]:
for letter in 'Python': 
    if letter == 'h':
        pass
        print('This is pass block')
    print('Current Letter: ' + letter)

print('Good bye!')

Current Letter: P
Current Letter: y
Current Letter: t
This is pass block
Current Letter: h
Current Letter: o
Current Letter: n
Good bye!

`pass` and `continue` may look similar but they fulfill different tasks. The printed message "This is pass block", wouldn't have been printed if continue had been used instead. `pass` does not do anything, while `continue` brings us straight the next iteration.

In [115]:
for letter in 'Python': 
    if letter == 'h':
        continue
        print('This is pass block')
    print('Current Letter: ' + letter)

print('Good bye!')

Current Letter: P
Current Letter: y
Current Letter: t
Current Letter: o
Current Letter: n
Good bye!